body
{
	min-width: 450px;
	max-width: 980px;
	margin: 0 auto;
	font-family: Calibri, sans-serif;
}

.wrapper
{
	display: flex;
	justify-content: center;
}

.articles-list
{
	padding: 10px;
}

.articles-list h1
{
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

.articles-list .meta-data
{
	color: #666;
	font-size: 0.7em;
	font-weight: bold;
	padding: 15px;
	text-align: center;
}

.articles-list p
{
	padding: 25px;
}